// External libraries


// Your CSS
@import 'base/_index.styl'          // Base – contains global styles, such as resets, typography, colors, etc.
@import 'layout/_index.styl'        // Layout - Grid system, Header, Footer, Sidebar, Forms Etc..
@import 'components/_index.styl'    // Components - Buttons, Dropdown, Cards, lists, Banners etc..
@import 'helpers/_index.styl'       //  Helpers - contains global mixins, Functions, helper selectors, Class etc..
@import 'pages/_index.styl'         // Pages - contains page-specific styling, if necessary
@import 'themes/_index.styl'        // Themes - Default themes, Admin themes Etc..
@import 'vendor/_index.styl'        // Vendor - Import SCSS files that come from third parties

